<div class="mat-title">Witness Declaration</div>

<mat-label >I am authorised witness. In my opinion, the person making this advance statement understands what an advance statement is the and the consequences of making it. I observed the 
    person sign this advance statement.
</mat-label>
<br>
<mat-form-field appearance="fill" class="example-full-width">      
    <textarea  sigInput rows="8"></textarea>
</mat-form-field>
<div>
    <mat-form-field class="form-field" appearance="fill">
        <label>Address</label><br>
        <input matInput class="text-input" >
      </mat-form-field><br>
    </div>

    <mat-form-field class="form-field" appearance="fill">
        <label>Telephone</label><br>
        <input matInput class="text-input" >
      </mat-form-field><br>

      <table class="example-full-width" cellspacing="0"><tr>
        <td>
            <label>Authorisation</label><br>
            <button style="color:rgb(255, 255, 255); background-color: rgb(15, 15, 117);">  <span class="material-icons">  
                person
                </span> Sign
            </button>        </td>
        <td><mat-form-field class="example-full-width">
          <label>Signature</label><br>
          <input matInput class="text-input-sign" >
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <label>Date</label><br>
          <input matInput type="date" class="input-date">
        </mat-form-field></td>
      </tr></table>
      <div class="example-container">
        <mat-form-field class="form-field" appearance="fill">
          <label>Given Names</label><br>
          <input matInput class="text-input" >
        </mat-form-field>
      
        <mat-form-field class="form-field" appearance="fill">
          <label>Family Name</label><br>
          <input matInput class="text-input">
        </mat-form-field>
      </div>

      <mat-form-field class="form-field" appearance="fill">
        <label>Designation</label><br>
        <input matInput class="text-input" >
      </mat-form-field><br>

      <mat-divider></mat-divider>
      <br>
    
      <div class="example-container">
        <input type="checkbox"  class="check-example-right-align"/>
        Click here to display information relating to this form &nbsp; &nbsp;
        <button style="color: white; background-color: rgb(15, 15, 117);" >    <span class="material-icons">  
            close
            </span> Cancel
        </button>
      </div>
      <br>
<mat-divider></mat-divider>


