<br>
<mat-label >General Practitioner's address :</mat-label>
    
    <br>
    <mat-form-field appearance="fill" class="example-full-width">      
        <textarea  matInput rows="10" ></textarea>
    </mat-form-field>
    <br>
<mat-label >Health team/s you are involved with :</mat-label>
    
    <br>
    <mat-form-field appearance="fill" class="example-full-width">      
        <textarea  matInput rows="10" ></textarea>
    </mat-form-field>
    <br>
<mat-label >Carers, gamily members and/or support people involved in your recovery (names and contact details) :</mat-label>
    
    <br>
    <mat-form-field appearance="fill" class="example-full-width">      
        <textarea  matInput rows="10" ></textarea>
    </mat-form-field>

    <div>
        <mat-form-field appearance="fill">
          <label>Name of person to be contacted if I am placed on an Order Under the Act</label><br>
          <input matInput class="text-input" >
        </mat-form-field>
        </div>

        <div>
        <h4>Relationship to me</h4>
<mat-form-field appearance="fill" style="display: block;">
  <mat-label>Favorite food</mat-label>
  <mat-select>
   
  </mat-select>
</mat-form-field>
</div>
<br>
<mat-label >Contact details of person to be contacted :</mat-label>
    
    <br>
    <mat-form-field appearance="fill" class="example-full-width">      
        <textarea  matInput rows="10" ></textarea>
    </mat-form-field>

    <hr>

    <div class="mat-title">Additional information I would like my treating team to know</div>

    <br>
    <mat-label >I understand that this information is not treatment preferences, but I would
        like people to know these things about me if I become too unwell to communicate them.
    </mat-label>
        
        <br>
        <mat-form-field appearance="fill" class="example-full-width">      
            <textarea  matInput rows="10" ></textarea>
        </mat-form-field>
        <hr>
        <div class="mat-title">My treatment preferences</div>
        <mat-label > If I am given compulsory treatment under the <b>Mental Health Act 2014</b>,the following are my treatment preferences (in order of importance to me).
        You should include the reasons for these preferences because they can help your treating team understand your preferences. </mat-label>
            
            <br>
            <mat-form-field appearance="fill" class="example-full-width">      
                <textarea  matInput rows="10" ></textarea>
            </mat-form-field>

           
                







